<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!--Aqui debajo se importa Boostrap, para poder usar el framework se escribe con los corchetes-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</head>
<body>
    <header>
        <h1>Bienvenido a Don Galleto</h1>
    </header>
    <main>
        <p>Contenido principal aquí.</p>
    </main>
    <footer>
        <p>&copy; 2023 Don Galleto. Todos los derechos reservados.</p>
    </footer>
</body>
</html>