<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!--Aqui debajo se importa Boostrap, para poder usar el framework se escribe con los corchetes-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #D2691E;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Don Galleto</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#venta">Venta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#produccion">Producción</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#inventario">Inventario</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <p>Contenido principal aquí.</p>
    </main>
    <footer>
        <p>&copy; 2023 Don Galleto. Todos los derechos reservados.</p>
    </footer>
</body>
</html>